@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    transition: 0.3s;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

/* ---------
    Common 
------------ */
.container {
    max-width: 1050px;

}

a {
    text-decoration: none;
}

/* -----------
    header 
--------------*/
header {
    align-items: center;
    background: #2D25A0;
    padding: 40px;
    width: auto 0;
    position: relative;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .menu ul li {
    list-style: none;
    display: inline-block;
}

header nav .menu ul li a {
    margin-right: 36px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}


.login a {
    background: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a:hover {
    background: #ffffff;
    color: #E02C6D;
    border: 1px solid #E02C6D;
}

.login .fa-sign-in-alt {
    margin-right: 8px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.banner-text {
    width: 50%;
    margin-right: 4%;
}

.banner .banner-text h1 {
    font-size: 4em;
    padding: 25px 40px 0;
    text-align: initial;
    margin: 0;
    color: #ffffff;
}

.banner .banner-text a {
    background: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    margin-left: 40px;
    width: 170px;
    margin-top: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-text a:hover {
    background: #ffffff;
    color: #E02C6D;
    border: 1px solid #E02C6D;
}

.banner .banner-text .fa-arrow-right {
    margin-left: 8px;
}

.banner-img {
    width: 50%;
    margin-left: 4%;
}

.banner .banner-img img {
    width: 100%;
    transition: transform 0.3s;
    overflow-x: hidden;
}

.banner .banner-img img:hover {
    transform: scale(1.1);
}



/* --------
    Players
----------- */
.players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 170px;
}

.players-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 25px;
}

.players-list .player {
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.players-list .player:hover {
    transform: translateY(-10%);
}

.players-list .player img {
    width: 100%;
}

.players-list .player h3 {
    font-size: 28px;
    color: #18191F;
    margin: 16px 0 10px;
}

.players-list .player p {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
}

/* ------------
    Copa America
--------------- */
.copa-america {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.copa-america-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copa-americia-text {
    width: 50%;
    margin-right: 4%;
}

.copa-americia-text h1 {
    font-size: 3em;
    font-weight: 700;
    color: #0A0826;
    margin: 0;
}

.copa-americia-text p {
    color: #6C6C6C;
    font-weight: 400;
}

.copa-americia-text a {
    background: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    width: 170px;
    margin-top: 20px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copa-americia-text a:hover {
    background: #ffffff;
    color: #E02C6D;
    border: 1px solid #E02C6D;
    outline: none;
}

.copa-americia-text a i {
    padding-left: 10px;
}

.copa-americia-img {
    width: 50%;
    margin-left: 4%;
}

.copa-americia-img img {
    width: 100%;
    transition: transform 0.3s;
}

.copa-americia-img img:hover {
    transform: scale(1.2);
}

/* --------------
    Login Form
------------------ */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    width: 1050px;
}

.login-form h1 {
    font-size: 28px;
    color: #18191F;
    margin: 16px 0 10px;
    text-align: center;
}


.login-form input {
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.login-form input:focus {
    outline: 1px solid #6C6C6C;
}

.login-form .login-details {
    position: relative;
    width: 1050px;
}

.login-form .login-details i {
    position: absolute;
    padding: 20px 10px;
}

.login-form .login-details .forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.login-form .login-details .forgot p a {
    text-decoration: underline;
}

.login-details button {
    background: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}

/* -----------
    Footer
-------------- */
.footer-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-img img {
    width: 485px;
}

.social-icon i {
    color: #969BAB;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    padding: 20px 15px;
    cursor: pointer;
}

.copyright p {
    font-size: 18px;
    color: #000000;
}


/* ------------
    Responsive
-------------- */

/*------------
 Tablet Devices 
 --------------*/

@media (max-width:991px) {

    header nav .menu {
        position: fixed;
        top: 100px;
        left: -170%;
        text-align: center;
        padding: 100px 0px;
        width: 100%;
        z-index: 999;
        transition: 0.5s;
        height: 100vh;
        background: #2D25A0;
    }

    header nav .menu ul li {
        display: block;
        padding: 20px;
    }

    .header nav .menu ul li a {
        color: #fff;
        font-size: 24px;
    }

    header nav .menu.active {
        left: 0;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        padding: 0 15px;
    }

    .toggle.active {
        background: url(../images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
        padding: 0 15px;
    }

    .players-list {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }

    .login-form {
        width: 100%;
    }

    .login-form .login-details {
        width: 100%;
    }

    .footer-img img {
        width: 80%
    }

    .social-icon i {
        font-size: 26px;
    }

}


/* ----------
Mobile Devices
-------------- */

@media (max-width:688px) {

    .banner {
        flex-direction: column;

    }

    .banner .banner-text h1 {
        font-size: 2em;
    }

    .banner-text {
        width: 100%;
        margin-bottom: 25px;
    }

    .banner-img {
        width: 100%;
        margin-top: 25px;
    }

    .players-list {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        align-items: center;
    }

    .container {
        width: 90%;
    }

    .copa-america-items {
        flex-direction: column;
    }

    .copa-americia-text {
        width: 100%;
        margin: 0;
        margin-bottom: 80px;
    }

    .copa-americia-img {
        width: 100%;

    }

    .footer-img {
        width: 80%;
    }

    .footer-img img {
        width: 80%;
    }
}